html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #EDF7FF;
}

/* story vis */
#story {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#intro {
  flex-direction: column;
  text-align: center;
}

.arrow-element {
  text-align: center;
}

.arrow {
  border: solid grey;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 12px;
  position: fixed;
}

.up {
  visibility: hidden;
  transform: rotate(-135deg);
  top: 20px;
}

.down {
  visibility: visible;
  transform: rotate(45deg);
  bottom: 20px;
}

/* page 1 - intro text */
#title-box {
  justify-content: center;
  text-align: center;
  margin: 50px;
}

#title {
  font-size: 50px;
  font-weight: 700;
}

#user-buttons {
  display: flex;
  justify-content: center;
}

.button {
  border-radius: 8px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 20px;
  width: 125px;
}

.user-button {
  border-radius: 50%;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 100px;
  width: 100px;
  background-color: lightblue;
  margin: 0 50px;
}

.user-button:focus {
  outline: 0;
}

#user-title {
  font-size: 40px;
  font-weight: 500;
}

#user-text {
  visibility: hidden;
  font-size: 20px;
  font-weight: 500;
}

/* page 2 - pie chart */

#proportion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 720px;
}

.description {
  display: flex;
  max-width: 350px;
}

#pie-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* page 3 - reasons chart */

#reasons {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 350px;
}

#bubble-plot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#reasons-no-wash-bubble-plot {
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#reasons-wash-bubble-plot {
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* page 4 - remove chart */
#remove {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 350px;
}

#teardrop-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#explore {
  display: flex;
  flex-direction: row;
}

#explore-title {
  font-size: 36px;
}

#explore-vis {
  display: flex;
}

#text {
  display: flex;
  justify-content: center;
  max-width: 500px;
  min-width: 400px;
}

#intro-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px;
}

#para {
  font-size: 24px;
}

#top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

#bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom-box {
  margin: 10px;
}

#left {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

#middle {
}

#right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#householdSizeBarChart {
  max-width: 350px;
  margin: 0;
  padding: 0;
  border: 0;
}

#foodSafetyBarChart {
  max-width: 350px;
  margin: 0;
  padding: 0;
  border: 0;
}
