html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}

#top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom-box {
  margin: 10px;
}

#left {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

#middle {
}

#right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#householdSizeBarChart {
  max-width: 350px;
  margin: 0;
  padding: 0;
  border: 0;
}

#foodSafetyBarChart {
  max-width: 350px;
  margin: 0;
  padding: 0;
  border: 0;
}

.button {
  border-radius: 8px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 20px;
  width: 125px;
}

.pieButton {
  border-radius: 50%;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 80px;
  width: 80px;
  background-color: lightblue;
}

.pieButton:focus {outline:0;}

#pieChartIntroText {
  font-size: 30px;
  font-weight: 500;
}

#pieChartText {
  font-size: 20px;
  font-weight: 500;
}

#pieChart {
  display: none;
}
