html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  scroll-behavior: smooth;
  background-color: #edf7ff;
  font-size: 18px;
}

h3 {
  margin: 0;
}

.screen {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* story vis */
#story {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.arrow-element {
  text-align: center;
}

.arrow {
  border: solid grey;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 12px;
  position: fixed;
  cursor: pointer;
  z-index: 2;
}

.up {
  visibility: hidden;
  transform: rotate(-135deg);
  top: 20px;
}

.down {
  visibility: visible;
  transform: rotate(45deg);
  bottom: 20px;
}

/* page 1 - intro text */
#title-box {
  justify-content: center;
  text-align: center;
  margin: 0px 50px;
}

#title {
  font-size: 50px;
  font-weight: 700;
}

#user-buttons {
  display: flex;
  justify-content: center;
}

.button-text {
  color: white;
  font-size: 16px;
}

.button {
  border-radius: 12px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 30px;
  width: 145px;
  background-color:  #999999;
}

.button:focus{
  outline: 0;
}

.user-button-text {
  color: white;
  font-size: 18px;
}

.user-button {
  border-radius: 30px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 50px;
  width: 100px;
  background-color: #999999;
  margin: 0px 50px;
}

.yes:focus {
  background-color: #4E81BE;
  outline: 0;
}

.no:focus {
  background-color: #C1504F;
  outline: 0;
}

#user-title {
  font-size: 40px;
  font-weight: 600;
  margin: 0px 50px 30px 50px;
}

#user-text {
  visibility: hidden;
  font-size: 18px;
  font-weight: 600;
}

/* page 2 - pie chart */

#proportion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* min-height: 720px; */
}

.description {
  display: flex;
  max-width: 350px;
  flex-direction: column;
}

#pie-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* page 3 - reasons chart */

#reasons {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#bubble-plot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#reasons-no-wash-bubble-plot {
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#reasons-wash-bubble-plot {
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* page 4 - remove chart */
#remove {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#teardrop-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* page 5 - explore vis */
#explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#explore-vis {
  display: flex;
}

#explore-text {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 0px;
}

/* page 5 - explore vis - meats */
#top {
  display: flex;
  margin: 15px;
  font-size: 16px;
}

#liquid-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* page 5 - explore vis - barcharts */
#bottom {
  display: flex;
  flex-direction: row;
}

#left {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

#barchart-container {
  margin-right: 25px;
}

#householdSizeBarChart {
  max-width: 350px;
  margin: 0;
  padding: 0;
  border: 0;
}

#foodSafetyBarChart {
  max-width: 350px;
  margin: 0;
  padding: 0;
  border: 0;
}
