#liquidFillGauges {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.liquid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outline {
  display: flex;
  justify-content: center;
}
