#teardropChart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d4f0ff;
  flex-direction: column;
}

#teardropsvg {
  background-image: url('../waterdroplet.png');
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: center; */
  background-position: 80px;
}

#teardrop-tooltip-count {
  font-size: 20px;
}
