#teardropChart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d4f0ff;
  /* height: 100vh; */
  flex-direction: column;
}

#teardropsvg {
  /* background-image: url('../waterdroplet.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 25px; */
  display: flex;
  justify-content: center;
}

#tear-group {
  /* transform: translate(10%, 40%); */
}

#teardrop-tooltip-count {
  font-size: 20px;
}
